/* styles.css - Seu arquivo de estilos personalizados */

/* Adicione seus estilos personalizados aqui */
.mb-3 {
    margin-top: 1rem; /* Isso adicionará um espaço de 1 unidade (normalmente 16px) acima do botão */
}

#fundo_diferente {
    border: 2px solid #a7b0b6; /* Bordas com cor específica e espessura */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
}

.nav-item.divider {
    border-bottom: 1px solid #ddd; /* Cor e espessura da linha */
    margin: 5px 0; /* Espaçamento vertical */
}

.dropdown-menu {
    margin-right: 10px; /* Ajuste este valor conforme necessário */
    padding-right: 10px;
    min-width: 200px; /* Ajuste este valor conforme necessário */
}

.resultados {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-error {
    color: red; /* Defina a cor vermelha para o texto */
    /* Outros estilos CSS, se desejar */
}

.border-black {
    border: 3px solid black;
}

.border-green {
    border: 3px solid #31f511;
}

.border-yellow {
    border: 3px solid yellow;
}

.border-red {
    border: 3px solid red;
}

.flash-error {
    background-color: #ffcccc; /* Cor de fundo vermelha */
    color: #990000; /* Cor do texto para melhor contraste */
    padding: 10px; /* Espaçamento interno para melhorar a aparência */
    border-radius: 5px; /* Borda arredondada */
}

.container {
    width: 100%;
    margin: auto;
}

.table {
    margin-top: 20px;
    text-align: left;
}

.table th, .table td {
    text-align: center;
}

.custom-bg {
  background-color: #122556 !important; /* Define a cor de fundo como azul */
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff; /* Mantém o texto branco para melhor contraste */
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link.active {
  color: #fff; /* Mantém o texto branco para marcas e links ativos */
}

.card-border-thick {
  border-width: 3px; /* Ajuste a espessura conforme necessário */
}

.card {
    margin-bottom: 10px; /* Espaçamento entre os "cards" */
    border-radius: 10px; /* Bordas arredondadas para os "cards" */
}

.card-body {
    padding: 10px; /* Espaçamento interno dentro dos "cards" */
}

/* Estilização do botão de Entrada */
.btn-entrada {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 5px; /* Aumentar padding para botões maiores */
    font-size: 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    width: 100px; /* Definir largura fixa para os botões */
    justify-content: center; /* Centralizar o conteúdo */
    margin-right: 10px; /* Espaço entre os botões */
    transition: background-color 0.3s ease;
}

.btn-entrada i {
    margin-right: 5px;
}

/* Hover no botão de Entrada */
.btn-entrada:hover {
    background-color: #218838;
}

/* Estilização do botão de Saída */
.btn-saida {
    background-color: #387ae7;
    color: white;
    border: none;
    padding: 5px 5px; /* Aumentar padding para botões maiores */
    font-size: 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    width: 100px; /* Definir largura fixa para os botões */
    justify-content: center; /* Centralizar o conteúdo */
    transition: background-color 0.3s ease;
}

.btn-saida i {
    margin-right: 5px;
}

/* Hover no botão de Saída */
.btn-saida:hover {
    background-color: #387ae7;
}

/* Estilização do botão de Saída */
.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 5px; /* Aumentar padding para botões maiores */
    font-size: 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    width: 100px; /* Definir largura fixa para os botões */
    justify-content: center; /* Centralizar o conteúdo */
    transition: background-color 0.3s ease;
}

.btn-danger i {
    margin-right: 5px;
}

/* Hover no botão de Saída */
.btn-danger:hover {
    background-color: #c82333;
}

/* Estilização do botão modificar vencimento */
.btn-vencimento {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 5px 5px; /* Aumentar padding para botões maiores */
    font-size: 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    width: 100px; /* Definir largura fixa para os botões */
    justify-content: center; /* Centralizar o conteúdo */
    transition: background-color 0.3s ease;
}

.btn-vencimento i {
    margin-right: 5px;
}

/* Hover no botão de vencimento */
.btn-vencimento:hover {
    background-color: #cacaca;
}

.custom-container {
    max-width: 80%; /* Define 80% da largura da tela, você pode ajustar este valor */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.legenda-cores {
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black; /* Contorno preto */
}

.dot-red {
    background-color: #fa9ea3;
}

.dot-orange {
    background-color: #fdecb9;
}

.dot-gray {
    background-color: #d5d7da;
}

.dot-white {
    background-color: #ffffff;
}

.list-inline-item {
    margin-left: 60px;
}

.list-inline {
    display: flex;
    padding-left: 0;
    list-style: none;
}

