/* styles.css - Seu arquivo de estilos personalizados */

/* Adicione seus estilos personalizados aqui */
.mb-3 {
    margin-top: 1rem; /* Isso adicionará um espaço de 1 unidade (normalmente 16px) acima do botão */
}

#fundo_diferente {
    border: 2px solid #a7b0b6; /* Bordas com cor específica e espessura */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
}

.nav-item.divider {
    border-bottom: 1px solid #ddd; /* Cor e espessura da linha */
    margin: 5px 0; /* Espaçamento vertical */
}

.dropdown-menu {
    margin-right: 10px; /* Ajuste este valor conforme necessário */
    padding-right: 10px;
    min-width: 200px; /* Ajuste este valor conforme necessário */
}

.resultados {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-error {
    color: red; /* Defina a cor vermelha para o texto */
    /* Outros estilos CSS, se desejar */
}

.border-black {
    border: 3px solid black;
}

.border-green {
    border: 3px solid #31f511;
}

.border-yellow {
    border: 3px solid yellow;
}

.border-red {
    border: 3px solid red;
}

.flash-error {
    background-color: #ffcccc; /* Cor de fundo vermelha */
    color: #990000; /* Cor do texto para melhor contraste */
    padding: 10px; /* Espaçamento interno para melhorar a aparência */
    border-radius: 5px; /* Borda arredondada */
}

.container {
    width: 100%;
    margin: auto;
}

.table {
    margin-top: 20px;
    text-align: left;
}

.table th, .table td {
    text-align: center;
}
