{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<form method="POST" action="{{ url_for('avaliacao_diaria') }}" enctype="multipart/form-data">
    <div class="py-5">
        <div class="container custom-container">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="text-center mt-4">Avaliação Diária</h1>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="fornecedor">Fornecedor</label>
                            <select class="form-control" id="fornecedor" name="fornecedor">
                                {% for fornecedor in fornecedores %}
                                    <option value="{{ fornecedor.id }}">{{ fornecedor.nome_fornecedor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ad_data">Data</label>
                            <input type="date" class="form-control" id="ad_data" name="ad_data" required>
                        </div>
                    </div>
                    <div class ="form-row">
                        <div class ="form-group col-md-2">
                            <label for="ad_nao_conformidade">Não Conformidade</label>
                            <input type="number" class="form-control" id="ad_nao_conformidade" name="ad_nao_conformidade" min="0" max="10" value="0">
                        </div>
                        <div class ="form-group col-md-2">
                            <label for="ad_atraso_entrega">Atraso Entrega</label>
                            <input type="number" class="form-control" id="ad_atraso_entrega" name="ad_atraso_entrega" min="0" max="10" value="0">
                        </div>
                        <div class ="form-group col-md-8">
                            <label for="ad_observacao">Observação</label>
                            <input type="text" class="form-control" id="ad_observacao" name="ad_observacao">
                        </div>
                    </div>
                    <div class ="form-row">
                        {% if session['privilegio'] == 9 or session['privilegio'] == 8 or session['privilegio'] == 1
                        or session['privilegio'] == 3 %}
                            <button type="submit" class="btn btn-secondary w-100">Cadastrar Avaliação</button>
                        {% else %}
                            <!-- Botão desabilitado se o privilégio for 0 -->
                            <button type="submit" class="btn btn-secondary w-100 mb-3" disabled>Sem Privilégio Para Avaliar</button>
                        {% endif %}

                    </div>
                    <div class = "form-row">
                        <div class ="form-group col-md-12">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="flash-messages">
                                        {% for message in messages %}
                                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                                            {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>

                </div>
            </div>

            <h2 class="text-center">Tabela para pontuação do fornecimento</h2>
             <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Índice para IQF</th>
                        <th>Não Conformidade com devolução</th>
                        <th>Não Conformidade sem devoluções</th>
                        <th>Sem Não Conformidades</th>
                        <th>Sem Atraso</th>
                        <th>1 dia atraso</th>
                        <th>2 à 3 dias atraso</th>
                        <th>4 à 7 dias atraso</th>
                        <th>8 à 14 dias atraso</th>
                        <th>Acima de 15 dias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Pontuação</th>
                        <th>0</th>
                        <th>5</th>
                        <th>10</th>
                        <th>10</th>
                        <th>9</th>
                        <th>7</th>
                        <th>5</th>
                        <th>3</th>
                        <th>0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<script>

document.getElementById('ad_nao_conformidade').addEventListener('input', function(e) {
    var value = parseInt(this.value, 10);
    if (value < 0) this.value = 0;
    if (value > 10) this.value = 10;
});

document.getElementById('ad_atraso_entrega').addEventListener('input', function(e) {
    var value = parseInt(this.value, 10);
    if (value < 0) this.value = 0;
    if (value > 10) this.value = 10;
});

</script>

{% endblock %}
