{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<form method="POST" action="{{ url_for('cadastro_certificados') }}" enctype="multipart/form-data">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Cadastro de Certificados</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="arquivo">Certificado do Fornecedor ---> </label>
                        <label for="arquivo">Escolher arquivo em PDF:</label>
                        <input type="file" class="form-control-file" id="arquivo" name="arquivo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cc_cq">Número da Nota</label>
                        <input type="text" class="form-control" id="cc_numero_nota" name="cc_numero_nota" value="{{ cc_numero_nota }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cc_cq">Código Produto</label>
                        <input type="text" class="form-control" id="cc_cod_produto" name="cc_cod_produto" value="{{ cc_cod_produto }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" id="botao-procurar" name="bt_procurar_nota" value="bt_procurar_nota" class="btn btn-secondary w-100 mb-3">Procurar Nota</button>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cc_cq">Descrição do Material</label>
                        <input type="text" class="form-control" id="cc_descricao" name="cc_descricao">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cc_cq">Código do Fornecedor</label>
                        <input type="text" class="form-control" id="cc_cod_fornecedor" name="cc_cod_fornecedor">
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cc_corrida">Corrida</label>
                                <input type="text" class="form-control" id="cc_corrida" name="cc_corrida" value="{{ extracted_data.heat_value if extracted_data else '' }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cc_data">Data</label>
                                <input type="date" class="form-control" id="cc_data" name="cc_data">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"><label for="cc_cq">Número Certificado Ext.</label>
                                <input type="text" class="form-control" id="cc_cq" name="cc_cq" value="{{ extracted_data.cq_value if extracted_data else '' }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cc_qtd_pedidos">Qtd. Pedido</label>
                                <input type="text" class="form-control" id="cc_qtd_pedidos" name="cc_qtd_pedidos">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="comp_quimica" name="comp_quimica" {% if extracted_data %}checked{% endif %}>
                                    <label class="form-check-label text-center" for="comp_quimica">Composição Química</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="prop_mecanicas" name="prop_mecanicas">
                                    <label class="form-check-label" for="prop_mecanicas">Propriedades Mecânicas</label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-3">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="tratamentos" name="tratamentos">
                                    <label class="form-check-label" for="tratamentos">Tratamentos</label>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>

            <div id="camposExtras_comp_quimica" style="display:{% if extracted_data %}block{% else %}none{% endif %};">
                <div class="container" id="fundo_diferente">
                    <!-- Primeira Linha de Inputs -->
                    <div class="row">
                        <h2 class="text-center">Composição Química</h2>
                    </div>
                    <div class="row">
                        <div class="col text-center"><label>C</label><input type="text" class="form-control" id="cc_c" name="cc_c" value=
                                "{{ extracted_data.elements_values.C if extracted_data and 'C' in extracted_data.elements_values else '' }}"></div>
                        <div class="col text-center"><label>Mn</label><input type="text" class="form-control" id="cc_mn" name="cc_mn" value=
                                "{{ (extracted_data.elements_values.Mn if extracted_data and 'Mn' in extracted_data.elements_values else '') or
                                (extracted_data.elements_values.MN if extracted_data and 'MN' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>P</label><input type="text" class="form-control" id="cc_p" name="cc_p" value=
                                "{{ extracted_data.elements_values.P if extracted_data and 'P' in extracted_data.elements_values else '' }}"></div>
                        <div class="col text-center"><label>S</label><input type="text" class="form-control" id="cc_s" name="cc_s" value=
                                "{{ extracted_data.elements_values.S if extracted_data and 'S' in extracted_data.elements_values else '' }}"></div>
                        <div class="col text-center"><label>Si</label><input type="text" class="form-control" id="cc_si" name="cc_si" value=
                                "{{ (extracted_data.elements_values.Si if extracted_data and 'Si' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.SI if extracted_data and 'SI' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Ni</label><input type="text" class="form-control" id="cc_ni" name="cc_ni" value=
                                "{{ (extracted_data.elements_values.Ni if extracted_data and 'Ni' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.NI if extracted_data and 'NI' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Cr</label><input type="text" class="form-control" id="cc_cr" name="cc_cr" value=
                                "{{ (extracted_data.elements_values.Cr if extracted_data and 'Cr' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.CR if extracted_data and 'CR' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>B</label><input type="text" class="form-control" id="cc_b" name="cc_b" value=
                                "{{ extracted_data.elements_values.B if extracted_data and 'B' in extracted_data.elements_values else '' }}"></div>
                    </div>
                    <!-- Segunda Linha de Inputs -->
                    <div class="row">
                        <div class="col text-center"><label>Cu</label><input type="text" class="form-control" id="cc_cu" name="cc_cu" value=
                                "{{ (extracted_data.elements_values.Cu if extracted_data and 'Cu' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.CU if extracted_data and 'CU' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Mo</label><input type="text" class="form-control" id="cc_mo" name="cc_mo" value=
                                "{{ (extracted_data.elements_values.Mo if extracted_data and 'Mo' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.MO if extracted_data and 'MO' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Co</label><input type="text" class="form-control" id="cc_co" name="cc_co" value=
                                "{{ (extracted_data.elements_values.Co if extracted_data and 'Co' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.CO if extracted_data and 'CO' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Fe</label><input type="text" class="form-control" id="cc_fe" name="cc_fe" value=
                                "{{ (extracted_data.elements_values.Fe if extracted_data and 'Fe' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.FE if extracted_data and 'FE' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Sn</label><input type="text" class="form-control" id="cc_sn" name="cc_sn" value=
                                "{{ (extracted_data.elements_values.Sn if extracted_data and 'Sn' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.SN if extracted_data and 'SN' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>Al</label><input type="text" class="form-control" id="cc_al" name="cc_al" value=
                                "{{ (extracted_data.elements_values.Al if extracted_data and 'Al' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.AL if extracted_data and 'AL' in extracted_data.elements_values else '') }}"></div>
                        <div class="col text-center"><label>N</label><input type="text" class="form-control" id="cc_n" name="cc_n" value=
                                "{{ extracted_data.elements_values.N if extracted_data and 'N' in extracted_data.elements_values else '' }}"></div>
                        <div class="col text-center"><label>Nb</label><input type="text" class="form-control" id="cc_nb" name="cc_nb" value=
                                "{{ (extracted_data.elements_values.Nb if extracted_data and 'Nb' in extracted_data.elements_values else '') or
                                 (extracted_data.elements_values.NB if extracted_data and 'NB' in extracted_data.elements_values else '') }}"></div>
                    </div>
                </div>
            </div>

            <div id="camposExtras_prop_mecanicas" style="display:none;">
                <div class="container" id="fundo_diferente">
                    <!-- Primeira Linha de Inputs -->
                    <div class="row mb-3">
                        <h2 class="text-center">Propriedades Mecânicas</h2>
                    </div>
                    <div class="row">
                        <div class="col text-center"><label>Escoamento<br>Yield Strength</label><input type="text" class="form-control" id="cc_escoamento" name="cc_escoamento" value="{{ extracted_data.mechanical_properties.yield_strength if extracted_data and extracted_data.mechanical_properties.yield_strength else '' }}"></div>
                        <div class="col text-center"><label>Resistência Tração<br>Tensile Strength</label><input type="text" class="form-control" id="cc_tracao" name="cc_tracao" value="{{ extracted_data.mechanical_properties.tensile_strength if extracted_data and extracted_data.mechanical_properties.tensile_strength else '' }}"></div>
                        <div class="col text-center"><label>Redução de Área(%)<br>Reduction of Area(%)</label><input type="text" class="form-control" id="cc_reducao" name="cc_reducao" value="{{ extracted_data.mechanical_properties.reduction_of_area if extracted_data and extracted_data.mechanical_properties.reduction_of_area else '' }}"></div>
                        <div class="col text-center"><label>Alongamento(%)<br>Elongation(%)</label><input type="text" class="form-control" id="cc_alongamento" name="cc_alongamento" value="{{ extracted_data.mechanical_properties.elongation if extracted_data and extracted_data.mechanical_properties.elongation else '' }}"></div>
                        <!--<div class="col text-center"><label>Dureza<br>Hardness</label><input type="text" class="form-control" id="cc_dureza" name="cc_dureza"></div>-->
                        <div class="col text-center"><label>Prova de Carga<br>Load Proof</label><input type="text" class="form-control" id="cc_carga" name="cc_carga" value="{{ extracted_data.mechanical_properties.proof_load if extracted_data and extracted_data.mechanical_properties.proof_load else '' }}"></div>
                    </div>
                </div>
            </div>

            <!--<div id="camposExtras_tratamentos" style="display:none;">
                <div class="container" id="fundo_diferente">
                     Primeira Linha de Inputs
                    <div class="row mb-3">
                        <h2 class="text-center">Tratamentos</h2>
                    </div>
                    <div class="row">
                        <div class="col text-center"><label>Temperatura de Revenimento<br>Tempering Temperature</label><input type="text" class="form-control" id="cc_revenimento" name="cc_revenimento"></div>
                        <div class="col text-center"><label>Tratamento Térmico<br>Thermal Treatment</label><input type="text" class="form-control" id="cc_termico" name="cc_termico"></div>
                        <div class="col text-center"><label>Tratamento Superficial<br>Surface Treatment</label><input type="text" class="form-control" id="cc_superficial" name="cc_superficial"></div>
                        <div class="col text-center"><label>Macrografia<br>Macrography</label><input type="text" class="form-control" id="cc_macrografia" name="cc_macrografia"></div>
                        <div class="col text-center"><label>Observações<br>Comments</label><input type="text" class="form-control" id="cc_observacao" name="cc_observacao"></div>
                    </div>
                </div>
            </div>-->
            <div class="container">
                <div class="row">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                        <ul>
                            {% for message in messages %}
                            {% if 'Erro' in message %} {# Verifique se a mensagem contém a palavra 'erro' #}
                            <li class="flash-error">{{ message }}</li> {# Aplicar a classe flash-error #}
                            {% else %}
                            <li>{{ message }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}

                    <!-- Limitar botão de acordo com privilegio -->
                    {% if session['privilegio'] == 9 or session['privilegio'] == 7 %}
                    <!-- Botão de envio -->
                    <button type="submit" id="botao-registrar" name="bt_registrar_certificado" value="bt_registrar_certificado" class="btn btn-secondary w-100 mb-3 ">Registrar Certificado</button>
                    {% else %}
                    <!-- Botão desabilitado se o privilégio for 0 -->
                    <button type="submit" id="botao-registrar_d" name="bt_registrar_certificado" value="bt_registrar_certificado" class="btn btn-secondary w-100 mb-3" disabled>Sem Privilegio para Cadastrar</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const comp_quimicaCheckbox = document.getElementById('comp_quimica');
        const prop_mecanicasCheckbox = document.getElementById('prop_mecanicas');
        //const tratamentosCheckbox = document.getElementById('tratamentos');
        const analise_dimensionalCheckbox = document.getElementById('analise_dimensional');

        comp_quimicaCheckbox.addEventListener('change', function() {
            camposExtras_comp_quimica.style.display = comp_quimicaCheckbox.checked ? 'block' : 'none';
        });
        prop_mecanicasCheckbox.addEventListener('change', function() {
            camposExtras_prop_mecanicas.style.display = prop_mecanicasCheckbox.checked ? 'block' : 'none';
        });
        //tratamentosCheckbox.addEventListener('change', function() {
        //    camposExtras_tratamentos.style.display = tratamentosCheckbox.checked ? 'block' : 'none';
        //});
        analise_dimensionalCheckbox.addEventListener('change', function() {
            camposExtras_analise_dimensional.style.display = analise_dimensionalCheckbox.checked ? 'block' : 'none';
        });

    });

    document.getElementById('botao-registrar').addEventListener('click', function(event) {
        var confirmacao = confirm('Tem certeza que deseja registrar o certificado?');
        if (!confirmacao) {
            event.preventDefault();
        }
    });

</script>

{% endblock %}
