{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <form method="POST" action="{{ url_for('cadastro_fornecedor') }}" enctype="multipart/form-data">
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Cadastro de Fornecedor</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Nome do Fornecedor</label>
                            <input type="text" class="form-control" id="cad_nome_fornecedor" name="cad_nome_fornecedor">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Dados Complementares</label>
                            <input type="text" class="form-control" id="cad_dados_fornecedor" name="cad_dados_fornecedor">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Limitar botão de acordo com privilegio -->
                    {% if session['privilegio'] == 9 or session['privilegio'] == 8 %}
                    <!-- Botão de envio -->
                    <button type="submit" class="btn btn-secondary w-100 mb-3">Cadastrar Fornecedor</button>
                    {% else %}
                    <!-- Botão desabilitado se o privilégio for 0 -->
                    <button type="submit" class="btn btn-secondary w-100 mb-3" disabled>Sem Privilegio para Cadastrar</button>
                    {% endif %}
                </div>

                <div class="row">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for message in messages %}
                                <div class="alert alert-warning" role="alert">{{ message }}</div>
                                    {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

            </div>
        </div>
    </form>

{% endblock %}
