{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% elif session['privilegio'] == 31 %}
    {% extends "base_vendas2.html" %}
{% elif session['privilegio'] == 41 %}
    {% extends "base_loja.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<style>
    /* Ajuste o Select2 para combinar com a altura dos campos de formulário do Bootstrap */
    .select2-container--default .select2-selection--single {
        height: calc(2.25rem + 2px); /* Ajuste para combinar com a altura dos campos de entrada do Bootstrap 4 */
        padding: .375rem .75rem; /* Mesmo padding dos campos de entrada do Bootstrap */
        font-size: 1rem; /* Tamanho de fonte padrão do Bootstrap */
        line-height: 1.5; /* Altura de linha padrão do Bootstrap */
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 1.5; /* Altura de linha padrão do Bootstrap */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: calc(2.25rem + 2px); /* Ajuste para combinar com a altura dos campos de entrada do Bootstrap 4 */
    }

    /* Corrigir a posição da seta para alinhar com os campos de entrada */
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 50%;
        transform: translateY(-50%);
    }

    /* Se necessário, ajustar o foco */
    .select2-container--focus .select2-selection {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div class="container mt-4">
        <form method="POST" action="{{ url_for('cadastro_equipamento') }}" enctype="multipart/form-data">
            <div class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Cadastro de Equipamento</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Número do Instrumento</label>
                                <select class="form-control" id="cad_numero_instrumento" name="cad_numero_instrumento" onchange="buscarDadosInstrumento(this.value)">
                                    <option value="">Selecione...</option>
                                    {% for numero_instrumento in numeros_instrumentos %}
                                    <option value="{{ numero_instrumento }}">{{ numero_instrumento }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Código</label>
                                <input type="text" class="form-control" id="cad_cod_equipamento" name="cad_cod_equipamento">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Equipamento</label>
                                <input type="text" class="form-control" id="cad_equipamento" name="cad_equipamento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Local de Calibração</label>
                                <input type="text" class="form-control" id="cad_local_calibracao" name="cad_local_calibracao">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Certificado</label>
                                <input type="file" class="form-control" id="cad_certificado" name="cad_certificado" accept=".pdf">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Localizado</label>
                                <input type="text" class="form-control" id="cad_localizado" name="cad_localizado">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Formula</label>
                                <input type="text" class="form-control" id="cad_test" name="cad_test">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Critério Aceitação (CA)</label>
                                <input type="text" class="form-control" id="cad_criterio" name="cad_criterio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Intervalo de Calibração (ANOS)</label>
                                <input type="number" class="form-control" id="cad_intervalo" name="cad_intervalo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ultima Calibração</label>
                                <input type="date" class="form-control" id="cad_ultima_calibracao" name="cad_ultima_calibracao">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Vencimento Calibração</label>
                                <input type="text" class="form-control" id="cad_vencimento_calibracao" name="cad_vencimento_calibracao" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status Geral / Aprovação Diretoria</label>
                                <input type="text" class="form-control" id="cad_status" name="cad_status">
                            </div>
                        </div>
                    </div>
                    <!-- Botão de envio -->
                    <button type="submit" class="btn btn-secondary w-100 mb-3">Cadastrar Equipamento</button>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="alert alert-success" role="alert">
                                {% for category, message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>

        <!-- Lista de Equipamentos -->
        <div class="table-responsive">
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Número do Instrumento</th>
                        <th>Código</th>
                        <th>Equipamento</th>
                        <th>Local de Calibração</th>
                        <th>Data de Vencimento</th>
                        <th>Status</th>
                        <th>Certificado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipamento in equipamentos %}
                    <tr>
                        <td>{{ equipamento.numero_instrumento }}</td>
                        <td>{{ equipamento.cod_equipamento }}</td>
                        <td>{{ equipamento.equipamento }}</td>
                        <td>{{ equipamento.local_calibracao }}</td>
                        <td>{{ equipamento.vencimento_calibracao }}</td>
                        <td>{{ equipamento.status }}</td>
                        <td>
                            {% if equipamento.certificado_existe %}
                            <a href="{{ url_for('download_certificado_equipamento', equipamento_id=equipamento.id) }}" class="btn btn-outline-primary"><i class="fas fa-download"></i> Baixar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<script>

// Função para calcular e atualizar o vencimento da calibração
function atualizarVencimentoCalibracao() {
    const ultimaCalibracao = new Date(document.getElementById('cad_ultima_calibracao').value);
    const intervalo = parseInt(document.getElementById('cad_intervalo').value, 10);

    //console.log("Última calibração: ", ultimaCalibracao);
    //console.log("Intervalo: ", intervalo);

    if (ultimaCalibracao && !isNaN(intervalo)) {
        // Clonar a data original para evitar modificar `ultimaCalibracao`
        const vencimento = new Date(ultimaCalibracao);
        vencimento.setFullYear(vencimento.getFullYear() + intervalo);

        // Adicionar 1 dia
        vencimento.setDate(vencimento.getDate() + 1);

        // Formatar a data como dd/mm/aaaa
        const dia = String(vencimento.getDate()).padStart(2, '0');
        const mes = String(vencimento.getMonth() + 1).padStart(2, '0'); // Os meses são indexados de 0 a 11
        const ano = vencimento.getFullYear();
        const vencimentoFormatted = `${dia}/${mes}/${ano}`; // Formato dd/mm/aaaa

        document.getElementById('cad_vencimento_calibracao').value = vencimentoFormatted;
        //console.log("Vencimento calculado: ", vencimentoFormatted);
    }
}

// Função para buscar dados do instrumento e preencher o formulário
function buscarDadosInstrumento(numeroInstrumento) {
    if (!numeroInstrumento) {
        return;
    }
    //console.log("Buscando dados para o número do instrumento: ", numeroInstrumento);

    fetch(`/buscar_dados_instrumento/${numeroInstrumento}`)
        .then(response => response.json())
        .then(data => {
            //console.log("Dados recebidos: ", data);

            if (data) {
                document.getElementById('cad_cod_equipamento').value = data.cod_equipamento || '';
                document.getElementById('cad_equipamento').value = data.equipamento || '';
                document.getElementById('cad_local_calibracao').value = data.local_calibracao || '';
                document.getElementById('cad_localizado').value = data.localizado || '';
                document.getElementById('cad_criterio').value = data.criterio_aceitacao || '';
                document.getElementById('cad_intervalo').value = data.intervalo || '';
                document.getElementById('cad_status').value = data.status || '';

                // Verificar e formatar a data para o campo de data HTML
                if (data.ultima_calibracao) {
                    const ultimaCalibracaoDate = new Date(data.ultima_calibracao);
                    const formattedDate = ultimaCalibracaoDate.toISOString().split('T')[0]; // Formata para YYYY-MM-DD
                    document.getElementById('cad_ultima_calibracao').value = formattedDate;
                    console.log("Última calibração formatada: ", formattedDate);
                } else {
                    document.getElementById('cad_ultima_calibracao').value = ''; // Limpar o campo se não houver data
                }

                // Atualizar o vencimento da calibração após preencher os dados
                atualizarVencimentoCalibracao();
            }
        })
        .catch(error => console.error('Erro ao buscar dados do instrumento:', error));
}

$(document).ready(function() {
    $('#cad_numero_instrumento').select2({
        placeholder: "Número de instrumento",
        allowClear: true,
        tags: true
    });

    // Evento para atualizar o vencimento quando a última calibração mudar
    document.getElementById('cad_ultima_calibracao').addEventListener('change', function() {
        //console.log("Última calibração alterada.");
        atualizarVencimentoCalibracao();
    });

    // Evento para atualizar o vencimento quando o intervalo mudar
    document.getElementById('cad_intervalo').addEventListener('input', function() {
        //console.log("Intervalo alterado.");
        atualizarVencimentoCalibracao();
    });

    // Atribuir a função ao evento de mudança do número do instrumento
    document.getElementById('cad_numero_instrumento').addEventListener('change', function() {
        buscarDadosInstrumento(this.value);
    });
});


</script>

{% endblock %}
