{% extends "base.html" %}

{% block content %}

  <div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal">Gerador de certificados ARS</h1>
        <p class="fs-5">Este WebService será o responsável por cadastrar e criar os certificados necessários para o cliente.</p>
        <p>Por meio dessa aplicação será possível fazer o controle dos certificados fornecidos pela ARS - Qualidade.</p>
    </div>
    </div>
  </div>

{% endblock %}
