{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% elif session['privilegio'] == 31 %}
    {% extends "base_vendas2.html" %}
{% elif session['privilegio'] == 41 %}
    {% extends "base_loja.html" %}
{% elif session['privilegio'] == 51 %}
    {% extends "base_tratamentos.html" %}
{% elif session['privilegio'] == 59 %}
    {% extends "base_zincagem_inspecao.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<style>
    .container-fluid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .card {
        margin-bottom: 10px;
    }
    .card-header {
        background-color: #f8f9fa;
        padding: 2px 25px;
    }
    .card-body {
        padding: 1px 1px;
        margin-inside: 1px;
    }

    .obs-textarea {
        width: 100%;
        resize: vertical;
    }
    .btn-group {
        margin-bottom: 2px;
    }
    .card-table td, .card-table th {
        padding: 5px;
        vertical-align: middle;
        text-align: left;
    }
    .select-all-container {
        margin: 10px 0;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container-fluid">
    <div class="container-fluid">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="mx-auto">Tratamentos Cadastrados</h1>
            <form method="POST" id="action_form" action="{{ url_for('alterar_estado_tratamento') }}">
            <div class="btn-group" role="group" aria-label="Ações">
                <button type="button" id="btn_enviar_selecionados" class="btn btn-primary">Marcar como Enviado</button>
                <button type="button" id="btn_exportar_excel" class="btn btn-success">Exportar Excel</button>
                <button type="button" id="btn_exportar_pdf" class="btn btn-warning">Exportar PDF</button>
            </div>
            <input type="hidden" name="ids_selecionados" id="ids_selecionados">
            <input type="hidden" name="observacoes_envio" id="observacoes_envio">
            <input type="hidden" name="nf_saida" id="nf_saida_hidden">
        </form>
        </div>

        <form method="POST" action="{{ url_for('lista_tratamentos_cadastrados') }}">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="pedido_cliente" class="form-label">Número do Pedido</label>
                    <input type="text" class="form-control" id="pedido_cliente" name="pedido_cliente" value="{{ pedido_cliente | default('') }}">
                </div>
                <div class="col-md-5">
                    <label for="tipo_tratamento" class="form-label">Tipo de Tratamento</label>
                        {% set descricoes = {
                            1: "ZN BRANCO", 2: "ZN PRETO", 3: "BICROMATIZADO", 4: "DECAPAGEM", 5: "FOSFATO MN",
                            6: "CAD BICRO", 7: "ZN TRIV AZUL", 8: "ZN TRIV BRANCO",
                            9: "ZN TRIV AMARELO", 10: "ORGANOMETALICO (GEOMET)",
                            11: "GALVANIZADO A FOGO", 12: "OXIDADO",
                            13: "XYLAN", 14: "NIQUEL", 15: "COBRE",
                            16: "CORTE", 17: "ZTAM BR 120H VM 144H (C/ SELANTE)",
                            18: "TEMPERADO E REVENIDO", 19: "PRETO OLEADO",
                            20: "FOSFATIZADO", 21: "REPASSE", 22: "JATEAMENTO",
                            23: "NIQUELADO", 24:"TRAVA QUIMICA", 25: "POR NYLLON"
                        } %}
                    <select class="form-control" id="tipo_tratamento" name="tipo_tratamento">
                        <option value="">Todos</option>
                        {% for key, value in descricoes.items() %}
                            <option value="{{ value }}" {% if tipo_tratamento == value %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1 align-self-end">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </form>

    </div>

    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Checkbox de selecionar todos -->
    <div class="form-check select-all-container">
        <input class="form-check-input" type="checkbox" id="select_all">
        <label class="form-check-label" for="select_all">
            Selecionar Todos
        </label>
    </div>

    <!-- Lista de Cards -->
    <div class="row">
        {% for tratamento in tratamentos %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <input type="checkbox" class="checkbox_tratamento me-2" value="{{ tratamento.id }}">
                            <strong>Pedido:</strong> {{ tratamento.pedido_cliente }} - {{ tratamento.pedido_linha }}
                        </div>
                        <div style="display: flex; align-items: center;">
                            <strong>Data:</strong>
                            <span style="margin-right: 20px;">{{ tratamento.data_cadastro.strftime('%d/%m/%Y') }}</span>
                            <button type="button" id="btn_apagar_tratamento" class="btn btn-danger btn-sm d-flex justify-content-center align-items-center" style="width: 32px; height: 32px;">
                                '
                                <i class="fas fa-trash-alt" style="font-size: 16px;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless card-table">
                            <tbody>
                                <tr>
                                    <td><strong>Código:</strong> {{ tratamento.cod_produto }}</td>
                                    <td><strong>Descrição:</strong> {{ tratamento.desc_produto }}</td>
                                    <td><strong>Quantidade:</strong> {{ tratamento.quantidade }}</td>
                                    <td><strong>Peso:</strong> {{ tratamento.peso }}</td>
                                    <td><strong>Volume:</strong> {{ tratamento.volume }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Tipo de Tratamento:</strong> {{ tratamento.tipo_tratamento }}</td>
                                    <td><strong>Responsável:</strong> {{ tratamento.responsavel }}</td>
                                    <td>
                                        <strong>Obs. Cad.:</strong> {{ tratamento.observacao_cadastro }}
                                    </td>
                                    <td>
                                        <textarea placeholder="Observação de Envio" id="observacao_envio_{{ tratamento.id }}" name="observacao_envio_{{ tratamento.id }}" form="action_form" maxlength="200" class="form-control obs-textarea" rows="1"></textarea>
                                    </td>
                                    <td>
                                        <input placeholder="Dias Extras" type="number" id="dias_adicionais_{{ tratamento.id }}" name="dias_adicionais_{{ tratamento.id }}" form="action_form" class="form-control" min="0" max="99">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

<!-- Modal para confirmação de Nota Fiscal de Saída -->
<div class="modal fade" id="modalSenha" tabindex="-1" aria-labelledby="modalSenhaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="nf_saida_form">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSenhaLabel">Confirmação de Nota Fiscal de Saída</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Digite a Nota Fiscal de Saída para os tratamentos selecionados:</p>
                    <div class="mb-3">
                        <label for="nf_saida" class="form-label">Nota Fiscal Saída:</label>
                        <input type="text" class="form-control" id="nf_saida" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="confirmarEnvio">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para confirmação de senha para exclusão -->
<div class="modal fade" id="modalConfirmarExclusao" tabindex="-1" aria-labelledby="modalExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExclusaoLabel">Confirmação de Senha para Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Digite a senha para confirmar a exclusão deste registro:</p>
                <div class="mb-3">
                    <label for="senha_confirmar_exclusao" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="senha_confirmar_exclusao" required>
                </div>
                <input type="hidden" id="id_tratamento_exclusao"> <!-- Armazenar o ID para exclusão -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarExclusao">Excluir</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Capturar o clique no botão "Deletar" e exibir o modal
    document.querySelectorAll('#btn_apagar_tratamento').forEach(function(button) {
        button.addEventListener('click', function() {
            var tratamentoId = this.closest('.card').querySelector('.checkbox_tratamento').value; // Capturar o ID do tratamento
            document.getElementById('id_tratamento_exclusao').value = tratamentoId; // Armazenar o ID no campo oculto

            var modal = new bootstrap.Modal(document.getElementById('modalConfirmarExclusao'));
            modal.show();  // Exibir o modal de confirmação
        });
    });

    // Função para confirmar exclusão e enviar ao backend
    document.getElementById('confirmarExclusao').addEventListener('click', function() {
        var tratamentoId = document.getElementById('id_tratamento_exclusao').value;
        var senha = document.getElementById('senha_confirmar_exclusao').value;

        if (senha) {
            // Enviar os dados ao backend
            fetch("{{ url_for('deletar_tratamento') }}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'tratamento_id': tratamentoId,
                    'senha': senha
                })
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      // Sucesso: Ocultar o card do tratamento
                      document.querySelector(`.checkbox_tratamento[value='${tratamentoId}']`).closest('.card').remove();
                      alert('Tratamento excluído com sucesso.');
                  } else {
                      alert(data.message || 'Erro ao excluir o tratamento.');
                  }
              }).catch(error => console.error('Erro:', error));
        } else {
            alert('Por favor, insira a senha para confirmar a exclusão.');
        }
    });

    // Função para marcar como enviado
    document.getElementById('btn_enviar_selecionados').addEventListener('click', function() {
        var checkboxes = document.querySelectorAll('.checkbox_tratamento:checked');
        var idsSelecionados = [];
        checkboxes.forEach(function(checkbox) {
            idsSelecionados.push(checkbox.value);
        });

        if (idsSelecionados.length > 0) {
            document.getElementById('ids_selecionados').value = idsSelecionados.join(',');
            // Defina a ação do formulário para alterar o estado
            document.getElementById('action_form').action = "{{ url_for('alterar_estado_tratamento') }}";
            var modal = new bootstrap.Modal(document.getElementById('modalSenha'));
            modal.show();  // Abrir o modal para digitar a nf_saida
        } else {
            alert('Nenhum tratamento foi selecionado.');
        }
    });

    // Confirmação da NF e envio do formulário para marcar como enviado
    document.getElementById('nf_saida_form').addEventListener('submit', function(event) {
        event.preventDefault();
        var nf_saida = document.getElementById('nf_saida').value;
        if (nf_saida) {
            document.getElementById('nf_saida_hidden').value = nf_saida;  // Passar nf_saida como hidden field
            // O formulário já estará com a ação correta configurada para "alterar_estado_tratamento"
            document.getElementById('action_form').submit();  // Submeter o formulário com IDs e nf_saida
        } else {
            alert('Por favor, insira a Nota Fiscal de Saída.');
        }
    });

    // Função para exportar para Excel
    document.getElementById('btn_exportar_excel').addEventListener('click', function() {
        var checkboxes = document.querySelectorAll('.checkbox_tratamento:checked');
        var idsSelecionados = [];
        checkboxes.forEach(function(checkbox) {
            idsSelecionados.push(checkbox.value);
        });

        if (idsSelecionados.length > 0) {
            document.getElementById('ids_selecionados').value = idsSelecionados.join(',');
            // Defina a ação do formulário para exportar o Excel
            document.getElementById('action_form').action = "{{ url_for('export_tratamentos_cadastrados_excel') }}";
            document.getElementById('action_form').submit();
        } else {
            alert('Nenhum tratamento foi selecionado para exportação.');
        }
    });

    // Função para exportar para PDF
    document.getElementById('btn_exportar_pdf').addEventListener('click', function() {
        var checkboxes = document.querySelectorAll('.checkbox_tratamento:checked');
        var idsSelecionados = [];
        var observacoesEnvio = {};

        checkboxes.forEach(function(checkbox) {
            var id = checkbox.value;
            idsSelecionados.push(id);
            var observacaoEnvio = document.getElementById('observacao_envio_' + id).value;
            observacoesEnvio[id] = observacaoEnvio || '';  // Captura a observação de envio
        });

        if (idsSelecionados.length > 0) {
            document.getElementById('ids_selecionados').value = idsSelecionados.join(',');
            document.getElementById('observacoes_envio').value = JSON.stringify(observacoesEnvio);  // Passa as observações como JSON

            // Defina a ação do formulário para exportar o PDF
            document.getElementById('action_form').action = "{{ url_for('export_tratamentos_cadastrados_pdf') }}";
            document.getElementById('action_form').submit();
        } else {
            alert('Nenhum tratamento foi selecionado para exportação.');
        }
    });

    // Checkbox de selecionar todos
    document.getElementById('select_all').addEventListener('click', function() {
        var checkboxes = document.querySelectorAll('.checkbox_tratamento');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = this.checked;
        }.bind(this));
    });
</script>

{% endblock %}
