{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% elif session['privilegio'] == 31 %}
    {% extends "base_vendas2.html" %}
{% elif session['privilegio'] == 41 %}
    {% extends "base_loja.html" %}
{% elif session['privilegio'] == 51 %}
    {% extends "base_tratamentos.html" %}
{% elif session['privilegio'] == 59 %}
    {% extends "base_zincagem_inspecao.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<style>
    .container-fluid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #produtosTable tr.highlighted-product td {
        background-color: #ffff99 !important;
    }
</style>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="row g-2 align-items-center">
                <div class="col-md-8 d-flex justify-content-center">
                    <h1 class="mx-auto">Tratamentos Enviados</h1>
                </div>
                <div class="col-md-4">
                    <form method="POST" id="action_form" action="{{ url_for('confirmar_recebimento_tratamento') }}">
                        <button type="button" id="btn_confirmar_recebimento" class="btn btn-primary w-100">Confirmar Recebimento Selecionados</button>
                        <input type="hidden" name="ids_selecionados" id="ids_selecionados">
                        <input type="hidden" name="nf_entrada" id="nf_entrada_hidden">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <form method="GET" action="{{ url_for('lista_tratamentos_enviados') }}" class="row g-2">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="nf_saida_filter" name="nf_saida_filter" placeholder="Nota Fiscal de Saída">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="pedido_cliente_filter" name="pedido_cliente_filter" placeholder="Pedido do Cliente">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead class="thead-light" style="position: sticky; top: 0; background-color: white; z-index: 1;">
                <tr>
                    <th><input type="checkbox" id="select_all"></th>
                    <th>Pedido Cliente</th>
                    <th>Código Produto</th>
                    <th>Descrição Produto</th>
                    <th>Quantidade</th>
                    <th>Peso</th>
                    <th>Volume</th>
                    <th>Tipo Tratamento</th>
                    <th>Nota Fiscal Saída</th>
                    <th>Data Envio</th>
                </tr>
            </thead>
            <tbody>
                {% for tratamento in tratamentos %}
                    <tr>
                        <td><input type="checkbox" class="checkbox_tratamento" value="{{ tratamento[0] }}"></td>
                        <td>{{ tratamento[1] }}</td>
                        <td>{{ tratamento[2] }}</td>
                        <td>{{ tratamento[3] }}</td>
                        <td>{{ tratamento[11] }}</td> <!-- Quantidade -->
                        <td>{{ tratamento[5] }}</td>
                        <td>{{ tratamento[6] }}</td>
                        <td>{{ tratamento[7] }}</td>
                        <td>
                            {{ tratamento[8] }}
                            {% if tratamento[-2] %} <!-- Verifica se show_button é True -->
                                <button type="button" class="btn btn-secondary btn-sm view-products"
                                        data-id="{{ tratamento[0] }}"
                                        data-nf-saida="{{ tratamento[8] }}"
                                        data-cod-produto="{{ tratamento[2] }}"
                                        data-nf-entrada="{{ tratamento[13] }}">
                                    Ver
                                </button>
                            {% endif %}
                        </td>
                        <td>{{ tratamento[9] }}</td> <!-- Data Envio -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- Modal para confirmação da Nota Fiscal de Entrada -->
<div class="modal fade" id="modalRecebimento" tabindex="-1" aria-labelledby="modalRecebimentoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('confirmar_recebimento_tratamento') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRecebimentoLabel">Confirmação de Recebimento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Digite a nota de entrada para confirmar o recebimento:</p>
                    <input type="hidden" name="ids_selecionados" id="ids_selecionados_modal">
                    <div class="form-group">
                        <label for="nf_entrada">Nota Fiscal Entrada: </label>
                        <input type="text" class="form-control" id="nf_entrada" name="nf_entrada" required>
                        <label for="obs_recebido">Observação recebimento:</label>
                        <input type="text" class="form-control" id="obs_recebido" name="obs_recebido">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para exibir os produtos -->
<div class="modal fade" id="produtosModal" tabindex="-1" aria-labelledby="produtosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="produtosModalLabel">Produtos da Nota Fiscal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="produtosTable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Unidade</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody id="produtosTableBody">
                        <!-- Os dados dos produtos serão inseridos aqui via JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Evento para confirmar o recebimento
        var btnConfirmarRecebimento = document.getElementById('btn_confirmar_recebimento');
        if (btnConfirmarRecebimento) {
            btnConfirmarRecebimento.addEventListener('click', function() {
                var checkboxes = document.querySelectorAll('.checkbox_tratamento:checked');
                var idsSelecionados = [];
                var nfEntrada = '';

                checkboxes.forEach(function(checkbox) {
                    idsSelecionados.push(checkbox.value);

                    // Busca o botão correspondente para obter a nf_entrada
                    var button = document.querySelector(`button.view-products[data-id="${checkbox.value}"]`);
                    if (button) {
                        nfEntrada = button.getAttribute('data-nf-entrada') || '';
                    }
                });

                if (idsSelecionados.length > 0) {
                    document.getElementById('ids_selecionados').value = idsSelecionados.join(',');
                    document.getElementById('ids_selecionados_modal').value = idsSelecionados.join(',');

                    // Preenche automaticamente a nf_entrada, mesmo que vazia
                    document.getElementById('nf_entrada').value = nfEntrada;

                    var modal = new bootstrap.Modal(document.getElementById('modalRecebimento'), {
                        keyboard: false
                    });
                    modal.show();
                } else {
                    alert('Nenhum tratamento foi selecionado.');
                }
            });
        } else {
            console.error('Elemento com id "btn_confirmar_recebimento" não encontrado.');
        }

        // Evento para confirmar o envio no modal
        document.getElementById('modalRecebimento').addEventListener('submit', function(event) {
            var nfEntrada = document.getElementById('nf_entrada').value;
            if (!nfEntrada) {
                event.preventDefault(); // Evita o envio do formulário se nf_entrada estiver vazia
                alert('Por favor, insira a Nota Fiscal de Entrada.');
            }
        });

        // Evento para cada botão "Ver Produtos"
        document.querySelectorAll('.view-products').forEach(function(button) {
            button.addEventListener('click', async function() {
                try {
                    var nfEntrada = this.getAttribute('data-nf-entrada') || '';
                    var nfSaida = this.getAttribute('data-nf-saida');
                    var codProdutoTratamento = this.getAttribute('data-cod-produto');

                    // Preenche automaticamente o campo nf_entrada no modal
                    document.getElementById('nf_entrada').value = nfEntrada;

                    let response = await fetch(`/get_produtos_por_nf_saida/${nfSaida}`);
                    if (!response.ok) throw new Error('Erro na resposta da requisição');

                    let data = await response.json();
                    var produtosTableBody = document.getElementById('produtosTableBody');
                    produtosTableBody.innerHTML = '';

                    if (data.error) {
                        alert(data.error);
                    } else {
                        data.forEach(function(produto) {
                            var row = document.createElement('tr');

                            // Destaca a linha se o código do produto corresponder
                            if (produto.codigo === codProdutoTratamento) {
                                row.classList.add('highlighted-product');
                            }

                            row.innerHTML = `
                                <td>${produto.codigo}</td>
                                <td>${produto.unidade}</td>
                                <td>${produto.quantidade}</td>
                            `;
                            produtosTableBody.appendChild(row);
                        });

                        var produtosModalElement = document.getElementById('produtosModal');
                        if (produtosModalElement) {
                            var produtosModal = new bootstrap.Modal(produtosModalElement);
                            produtosModal.show();
                        } else {
                            console.error("O modal produtosModal não foi encontrado no DOM.");
                        }
                    }
                } catch (error) {
                    console.error("Erro ao buscar produtos:", error);
                }
            });
        });

        // Evento para o checkbox "Selecionar Todos"
        var selectAllCheckbox = document.getElementById('select_all');
        if (selectAllCheckbox) {
            selectAllCheckbox.addEventListener('click', function() {
                var checkboxes = document.querySelectorAll('.checkbox_tratamento');
                checkboxes.forEach(function(checkbox) {
                    checkbox.checked = selectAllCheckbox.checked;
                });
            });
        } else {
            console.error('Elemento com id "select_all" não encontrado.');
        }
    });
</script>


{% endblock %}

