{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<!-- Inclua seu arquivo de estilos personalizados após o Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- Formulário de busca -->
<div class="py-3">
    <div class="container">
        <form method="GET" action="{{ url_for('pesquisar_notas_fiscais_download') }}">
            <div class="row">
                <div class="col-md-2">
                    <label for="cad_data_emissao_nf">Data Emissão NF:</label>
                    <input type="date" class="form-control" id="cad_data_emissao_nf" name="cad_data_emissao_nf" value="{{ cad_data_emissao_nf }}">
                </div>
                <div class="col-md-2">
                    <label for="cad_numero_nota">Número da Nota:</label>
                    <input type="text" class="form-control" id="cad_numero_nota" name="cad_numero_nota" placeholder="Número da Nota" value="{{ cad_numero_nota }}">
                </div>
                <div class="col-md-2">
                    <label for="cad_data_entrada_ars">Data Entrada ARS:</label>
                    <input type="date" class="form-control" id="cad_data_entrada_ars" name="cad_data_entrada_ars" value="{{ cad_data_entrada_ars }}">
                </div>
                <div class="col-md-2">
                    <label for="cad_pedido">Pedido:</label>
                    <input type="text" class="form-control" id="cad_pedido" name="cad_pedido" placeholder="Pedido" value="{{ cad_pedido }}">
                </div>
                <div class="col-md-2">
                    <label for="cad_fornecedor">Fornecedor:</label>
                    <input type="text" class="form-control" id="cad_fornecedor" name="cad_fornecedor" placeholder="Fornecedor" value="{{ cad_fornecedor }}">
                </div>
                <div class="col-md-2">
                    <label for="cad_lancamento">Lançamento:</label>
                    <input type="text" class="form-control" id="cad_lancamento" name="cad_lancamento" placeholder="Lançamento" value="{{ cad_lancamento }}">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-secondary w-100">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Tabela para exibir as notas fiscais cadastradas -->
<div class="py-1">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Notas Fiscais Cadastradas</h2>
                <div class="table-responsive">
                    {% for nota in notas_fiscais %}
                    <div class="card mb-2" style="border: 3px solid {% if nota.cad_lancamento|lower == 'ok' %}#28a745{% else %}#000{% endif %};">
                        <div class="card-body">
                            <!-- Primeira Linha -->
                            <div class="row">
                                <div class="col-md-3 text-left"><strong>Data Emissão NF:</strong> {{ nota.cad_data_emissao_nf.strftime('%d/%m/%Y') }}</div>
                                <div class="col-md-3 text-left"><strong>Número da Nota:</strong> {{ nota.cad_numero_nota }}</div>
                                <div class="col-md-3 text-left"><strong>Data Entrada ARS:</strong> {{ nota.cad_data_entrada_ars.strftime('%d/%m/%Y') }}</div>
                                <div class="col-md-3 text-left"><strong>Pedido:</strong> {{ nota.cad_pedido }}</div>
                            </div>
                            <!-- Segunda Linha -->
                            <div class="row">
                                <div class="col-md-3 text-left"><strong>Fornecedor:</strong> {{ nota.cad_fornecedor }}</div>
                                <div class="col-md-3 text-left"><strong>Volume:</strong> {{ nota.cad_volume }}</div>
                                <div class="col-md-3 text-left"><strong>Peso:</strong> {{ nota.cad_peso }}</div>
                                <div class="col-md-3 text-left"><strong>Natureza:</strong> {{ nota.cad_natureza }}</div>
                            </div>
                            <!-- Terceira Linha -->
                            <div class="row">
                                <div class="col-md-3 text-left"><strong>Certificado:</strong> {{ nota.cad_certificado }}</div>
                                <div class="col-md-6 text-left"><strong>Observação:</strong> {{ nota.cad_observacao }}</div>
                                <div class="col-md-3 text-left"><strong>Lançamento:</strong> {{ nota.cad_lancamento }}</div>
                            </div>
                            <!-- Quarta Linha -->
                            <div class="row">
                                <div class="col-md-12 text-left"><strong>Código XML:</strong> {{ nota.cad_cod_xml }}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 text-center">
                                    {% if nota.cad_arquivo_xml %}
                                        <button class="btn btn-outline-secondary w-100 openProductsModal" data-nota-id="{{ nota.id }}">
                                            <i class="fas fa-box-open"></i> Ver Produtos
                                        </button>
                                    {% else %}
                                        <button class="btn btn-outline-secondary w-100" disabled>
                                            XML não anexado
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 text-center">
                                    {% if nota.cad_arquivo_xml %}
                                        <a href="{{ url_for('download_xml', nota_id=nota.id) }}" class="btn btn-outline-primary w-100">
                                            <i class="fas fa-download"></i> Baixar XML
                                        </a>
                                    {% else %}
                                        <button class="btn btn-outline-primary w-100" disabled>
                                            XML não disponível
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Paginação -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- Link para a primeira página -->
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('pesquisar_notas_fiscais_download', page=1, search=search_query, cad_data_emissao_nf=cad_data_emissao_nf, cad_numero_nota=cad_numero_nota, cad_data_entrada_ars=cad_data_entrada_ars, cad_pedido=cad_pedido, cad_fornecedor=cad_fornecedor, cad_lancamento=cad_lancamento) }}">Primeira</a>
                    </li>
                    {% endif %}

                    <!-- Link para a página anterior -->
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('pesquisar_notas_fiscais_download', page=page-1, search=search_query, cad_data_emissao_nf=cad_data_emissao_nf, cad_numero_nota=cad_numero_nota, cad_data_entrada_ars=cad_data_entrada_ars, cad_pedido=cad_pedido, cad_fornecedor=cad_fornecedor, cad_lancamento=cad_lancamento) }}">Anterior</a>
                    </li>
                    {% endif %}

                    <!-- Páginas ao redor da página atual -->
                    {% set start = max(1, page - 5) %}
                    {% set end = min((total // per_page) + 1, page + 5) %}
                    {% for p in range(start, end + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('pesquisar_notas_fiscais_download', page=p, search=search_query, cad_data_emissao_nf=cad_data_emissao_nf, cad_numero_nota=cad_numero_nota, cad_data_entrada_ars=cad_data_entrada_ars, cad_pedido=cad_pedido, cad_fornecedor=cad_fornecedor, cad_lancamento=cad_lancamento) }}">{{ p }}</a>
                    </li>
                    {% endfor %}

                    <!-- Link para a próxima página -->
                    {% if page < (total // per_page) + 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('pesquisar_notas_fiscais_download', page=page+1, search=search_query, cad_data_emissao_nf=cad_data_emissao_nf, cad_numero_nota=cad_numero_nota, cad_data_entrada_ars=cad_data_entrada_ars, cad_pedido=cad_pedido, cad_fornecedor=cad_fornecedor, cad_lancamento=cad_lancamento) }}">Próxima</a>
                    </li>
                    {% endif %}

                    <!-- Link para a última página -->
                    {% if page < (total // per_page) + 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('pesquisar_notas_fiscais_download', page=(total // per_page) + 1, search=search_query, cad_data_emissao_nf=cad_data_emissao_nf, cad_numero_nota=cad_numero_nota, cad_data_entrada_ars=cad_data_entrada_ars, cad_pedido=cad_pedido, cad_fornecedor=cad_fornecedor, cad_lancamento=cad_lancamento) }}">Última</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

</div>

<!-- Modal para exibir os produtos -->
<div class="modal fade" id="productsModal" tabindex="-1" role="dialog" aria-labelledby="productsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document"> <!-- Aqui aumenta a largura do modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productsModalLabel">Produtos da Nota Fiscal</h5>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;"> <!-- Aqui adiciona a barra de rolagem -->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Produto</th>
                            <th>Unidade</th>
                            <th>Quantidade</th>
                            <th>Valor Unitário</th>
                            <th>ICMS (%)</th>
                            <th>ICMS (Valor)</th>
                            <th>Origem</th>
                            <th>CST</th>
                            <th>ICMS ST (%)</th>
                            <th>ICMS ST (Valor)</th>
                            <th>IPI (%)</th>
                            <th>IPI (Valor)</th>
                        </tr>
                    </thead>
                    <tbody id="productsTableBody">
                        <!-- Os produtos serão inseridos aqui dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.openProductsModal').forEach(function(button) {
            button.addEventListener('click', function() {
                var notaId = this.getAttribute('data-nota-id');
                var modal = new bootstrap.Modal(document.getElementById('productsModal'));

                fetch(`/get_products_imposto/${notaId}`)
                    .then(response => response.json())
                    .then(data => {
                        var productsTableBody = document.getElementById('productsTableBody');
                        productsTableBody.innerHTML = '';

                        if (data.length > 0) {
                            data.forEach(function(product) {
                                var row = document.createElement('tr');

                                var pedidoCell = document.createElement('td');
                                pedidoCell.textContent = product.pedido;
                                row.appendChild(pedidoCell);

                                var produtoCell = document.createElement('td');
                                produtoCell.textContent = product.produto;
                                row.appendChild(produtoCell);

                                var unidadeCell = document.createElement('td');
                                unidadeCell.textContent = product.unidade;
                                row.appendChild(unidadeCell);

                                var quantidadeCell = document.createElement('td');
                                quantidadeCell.textContent = product.quantidade;
                                row.appendChild(quantidadeCell);

                                var valorunitarioCell = document.createElement('td');
                                valorunitarioCell.textContent = product.valorunitario;
                                row.appendChild(valorunitarioCell);

                                var icmsPercentCell = document.createElement('td');
                                icmsPercentCell.textContent = product.icms_percentual;
                                row.appendChild(icmsPercentCell);

                                var icmsValorCell = document.createElement('td');
                                icmsValorCell.textContent = product.icms_valor;
                                row.appendChild(icmsValorCell);

                                var origCell = document.createElement('td');
                                origCell.textContent = product.orig;
                                row.appendChild(origCell);

                                var cstCell = document.createElement('td');
                                cstCell.textContent = product.cst;
                                row.appendChild(cstCell);

                                var icmsSTPercentCell = document.createElement('td');
                                icmsSTPercentCell.textContent = product.pICMSST;
                                row.appendChild(icmsSTPercentCell);

                                var icmsSTValorCell = document.createElement('td');
                                icmsSTValorCell.textContent = product.vICMSST;
                                row.appendChild(icmsSTValorCell);

                                var ipiPercentCell = document.createElement('td');
                                ipiPercentCell.textContent = product.ipi_percentual;
                                row.appendChild(ipiPercentCell);

                                var ipiValorCell = document.createElement('td');
                                ipiValorCell.textContent = product.ipi_valor;
                                row.appendChild(ipiValorCell);

                                productsTableBody.appendChild(row);
                            });
                        } else {
                            var row = document.createElement('tr');
                            var noDataCell = document.createElement('td');
                            noDataCell.textContent = 'Nenhum produto encontrado.';
                            noDataCell.colSpan = 9;
                            noDataCell.className = 'text-center';
                            row.appendChild(noDataCell);
                            productsTableBody.appendChild(row);
                        }

                        modal.show();
                    })
                    .catch(error => {
                        console.error('Erro ao buscar os produtos:', error);
                    });
            });
        });
    });

</script>
{% endblock %}
