{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% elif session['privilegio'] == 31 %}
    {% extends "base_vendas2.html" %}
{% elif session['privilegio'] == 41 %}
    {% extends "base_loja.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<!-- Inclua seu arquivo de estilos personalizados após o Bootstrap -->
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

<form method="POST" action="{{url_for('pesquisar_recebimento_concluido')}}">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Pesquisar Recebimento Concluido</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group"><label>Data de Entrada</label><input type="date" class="form-control" id="cr_data" name="cr_data"></div>
                </div>
                <div class="col-md-3">
                    <div class="form-group"><label>Nota Fiscal</label><input type="text" class="form-control" id="cr_nota_fiscal" name="cr_nota_fiscal" maxlength="50"></div>
                </div>
                <div class="col-md-3">
                    <div class="form-group"><label>Ordem de Compra</label><input type="text" class="form-control" id="cr_ordem_compra" name="cr_ordem_compra" maxlength="50"></div>
                </div>
                <div class="col-md-2">
                    <div class="form-group"><label>Pedido</label><input type="text" class="form-control" id="cr_pedido" name="cr_pedido" maxlength="50"></div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <!-- Botão de envio -->
            <button type="submit" class="btn btn-secondary w-100 mb-3">Pesquisar Recebimento Concluido</button>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if results %}
                <h2 class="mt-5">Resultados da Pesquisa</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data de Entrada</th>
                            <th>Nota Fiscal</th>
                            <th>Ordem de Compra</th>
                            <th>Data de Cadastro</th>
                            <th>Responsável</th>
                            <th>Pedido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="mt-5">Nenhum resultado encontrado.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
