{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% elif session['privilegio'] == 31 %}
    {% extends "base_vendas2.html" %}
{% elif session['privilegio'] == 41 %}
    {% extends "base_loja.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <form method="POST" action="{{ url_for('pesquisar_certificado') }}">
      <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Pesquisar Certificados</h1>
          </div>
        </div>
      </div>
    </div>
      <div class="">
          <div class="container">
              <div class="row">
                  <div class="col-md-3" style="">
                      <div class="form-group"><label>Número da Nota</label><input type="text" class="form-control" id="pc_numero_nota" name="pc_numero_nota"></div>
                  </div>
                  <div class="col-md-3" style="">
                      <div class="form-group"><label>Cód. Produto</label><input type="text" class="form-control" id="pc_cod_produto" name="pc_cod_produto"></div>
                  </div>
              </div>
              <!-- Botão de envio -->
              <button type="submit" class="btn btn-secondary w-100 mb-3">Pesquisar Certificado</button>
          </div>
      </div>

    </form>

<!-- Resultados da Pesquisa -->
<div class="container mt-4">
  {% if resultados %}
    {% for numero_nota, dados in resultados.items() %}
      <div class="card" style="margin-bottom: 20px; border: 3px solid #000;">
        <div class="card-body">
          <h5 class="card-title">Resultados para Nota Número: {{ numero_nota }}</h5>

          <!-- Exibir resultados de Cadastro Certificados -->
          {% set cadastro = dados.cadastro_certificados %}
          {% if cadastro %}
            <h3 class="text-center">Dados</h3>
            <div class="resultados">
              <!-- Primeira Linha -->
              <div class="row">
                <div class="col-md-3"><strong>Número da Nota:</strong> {{ cadastro.cc_numero_nota }}</div>
                <div class="col-md-3"><strong>Descrição:</strong> {{ cadastro.cc_descricao }}</div>
                <div class="col-md-3"><strong>Código do Fornecedor:</strong> {{ cadastro.cc_cod_fornecedor }}</div>
                <div class="col-md-3"><strong>Código do Produto:</strong> {{ cadastro.cc_cod_produto }}</div>
              </div>
              <!-- Segunda Linha -->
              <div class="row">
                <div class="col-md-3"><strong>Corrida:</strong> {{ cadastro.cc_corrida }}</div>
                <div class="col-md-3"><strong>Data:</strong> {{ cadastro.cc_data }}</div>
                <div class="col-md-3"><strong>CQ:</strong> {{ cadastro.cc_cq }}</div>
                <div class="col-md-3"><strong>Quantidade do Pedido:</strong> {{ cadastro.cc_qtd_pedidos }}</div>
              </div>
            </div>
          {% endif %}

          <!-- Exibir resultados de Composição Química -->
          {% set comp = dados.comp_quimica %}
          {% if comp %}
            <h3 class="text-center">Composição Química</h3>
            <div class="resultados">
              {% for item in comp %}
                <!-- Detalhes da Composição Química -->
                <!-- Primeira Linha -->
                <div class="row">
                  <div class="offset-md-2 col-md-1"><strong>C:</strong> {{ item.cc_c }}</div>
                  <div class="col-md-1"><strong>Mn:</strong> {{ item.cc_mn }}</div>
                  <div class="col-md-1"><strong>P:</strong> {{ item.cc_p }}</div>
                  <div class="col-md-1"><strong>S:</strong> {{ item.cc_s }}</div>
                  <div class="col-md-1"><strong>Si:</strong> {{ item.cc_si }}</div>
                  <div class="col-md-1"><strong>Ni:</strong> {{ item.cc_ni }}</div>
                  <div class="col-md-1"><strong>Cr:</strong> {{ item.cc_cr }}</div>
                  <div class="col-md-1"><strong>B:</strong> {{ item.cc_b }}</div>
                  <div class="offset-md-2"></div>
                </div>
                <!-- Segunda Linha -->
                <div class="row">
                  <div class="offset-md-2 col-md-1"><strong>Cu:</strong> {{ item.cc_cu }}</div>
                  <div class="col-md-1"><strong>Mo:</strong> {{ item.cc_mo }}</div>
                  <div class="col-md-1"><strong>Co:</strong> {{ item.cc_co }}</div>
                  <div class="col-md-1"><strong>FE:</strong> {{ item.cc_fe }}</div>
                  <div class="col-md-1"><strong>Sn:</strong> {{ item.cc_sn }}</div>
                  <div class="col-md-1"><strong>Al:</strong> {{ item.cc_al }}</div>
                  <div class="col-md-1"><strong>N:</strong> {{ item.cc_n }}</div>
                  <div class="col-md-1"><strong>Nb:</strong> {{ item.cc_nb }}</div>
                  <div class="offset-md-2"></div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <!-- Exibir resultados de Propriedades Mecânicas -->
          {% set comp = dados.prop_mecanicas %}
          {% if comp %}
            <h3 class="text-center">Propriedades Mecânicas</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Detalhes da Propriedades Mecânicas -->
                <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"><strong>Escoamento</strong></div>
                  <div class="col-md-2 text-center"><strong>Resistência Tração</strong></div>
                  <div class="col-md-2 text-center"><strong>Redução de Área</strong></div>
                  <div class="col-md-2 text-center"><strong>Alongamento</strong></div>
                  <div class="col-md-2 text-center"><strong>Prova de Carga</strong></div>
                </div>
                <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"><strong>Yield Strength</strong></div>
                  <div class="col-md-2 text-center"><strong>Tensile Strenght</strong></div>
                  <div class="col-md-2 text-center"><strong>Reduction of Area</strong></div>
                  <div class="col-md-2 text-center"><strong>Elongation</strong></div>
                  <div class="col-md-2 text-center"><strong>Load Proof</strong></div>
                </div>
                <!-- Terceira Linha -->
                <div class="row">
                  <div class="col-md-2 text-center">{{ item.cc_escoamento }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_tracao }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_reducao }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_alongamento }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_carga }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <!-- Exibir resultados de Tratamentos -->
          {% set comp = dados.tratamentos %}
          {% if comp %}
            <h3 class="text-center">Tratamentos</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Detalhes de Tratamentos -->
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="offset-md-1 col-md-2 text-center"><strong>Temperatura de Revenimento</strong></div>
                  <div class="col-md-2 text-center"><strong>Tratamento Térmico</strong></div>
                  <div class="col-md-2 text-center"><strong>Tratamento Superficial</strong></div>
                  <div class="col-md-2 text-center"><strong>Macrografia</strong></div>
                  <div class="col-md-2 text-center"><strong>Observações</strong></div>
                  <div class="offset-md-1"></div>
                </div>
                <!-- Segunda Linha -->
                <div class="row">
                  <div class="offset-md-1 col-md-2 text-center"><strong>Tempering Temperature</strong></div>
                  <div class="col-md-2 text-center"><strong>Thermal Treatment</strong></div>
                  <div class="col-md-2 text-center"><strong>Surface Treatment</strong></div>
                  <div class="col-md-2 text-center"><strong>Macrography</strong></div>
                  <div class="col-md-2 text-center"><strong>Comments</strong></div>
                  <div class="offset-md-1"></div>
                </div>
                <!-- Terceira Linha -->
                <div class="row">
                  <div class="offset-md-1 col-md-2 text-center">{{ item.cc_revenimento }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_termico }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_superficial }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_macrografia }}</div>
                  <div class="col-md-2 text-center">{{ item.cc_observacao }}</div>
                  <div class="offset-md-1"></div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Porcas -->
          {% set comp = dados.ad_porcas %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Porcas</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Altura</strong></div>
                  <div class="col-md-3 text-center"><strong>Chave</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adporcas_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adporcas_altura }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adporcas_chave }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adporcas_diametro }} </div>
                </div>
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-4 text-center"><strong>Diâmetro da Estrutura</strong></div>
                  <div class="col-md-4 text-center"><strong>Diâmetro Interno</strong></div>
                  <div class="col-md-4 text-center"><strong>Diâmetro Externo</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-4 text-center"> {{ item.cc_adporcas_diametro_estrutura }} </div>
                  <div class="col-md-4 text-center"> {{ item.cc_adporcas_diametro_interno }} </div>
                  <div class="col-md-4 text-center"> {{ item.cc_adporcas_diametro_externo }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Pinos -->
          {% set comp = dados.ad_pinos %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Pinos</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Espessura</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adpinos_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adpinos_espessura }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adpinos_comprimento }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adpinos_diametro }} </div>
                </div>
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-4 text-center"><strong>Diâmetro da Cabeça</strong></div>
                  <div class="col-md-4 text-center"><strong>Diâmetro Interno</strong></div>
                  <div class="col-md-4 text-center"><strong>Diâmetro Externo</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-4 text-center"> {{ item.cc_adpinos_diametro_cabeca }} </div>
                  <div class="col-md-4 text-center"> {{ item.cc_adpinos_diametro_interno }} </div>
                  <div class="col-md-4 text-center"> {{ item.cc_adpinos_diametro_externo }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Parafusos -->
          {% set comp = dados.ad_parafusos %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Parafusos</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Altura</strong></div>
                  <div class="col-md-3 text-center"><strong>Chave</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_altura }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_chave }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adpaafusos_comprimento }} </div>
                </div>
              <!-- Terceira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Diâmetro</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro da Cabeça/Corpo</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento da Rosca Parcial</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro da Ponta</strong></div>
                </div>
              <!-- Quarta Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_diametro }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_diametro_cabeca }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_comprimento_rosca }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adparafusos_diametro_ponta }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Grampos -->
          {% set comp = dados.ad_grampos %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Grampos</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-2 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-2 text-center"><strong>Diâmetro</strong></div>
                  <div class="col-md-2 text-center"><strong>Comprimento Rosca</strong></div>
                  <div class="col-md-2 text-center"><strong>Diâmetro Interno</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"> {{ item.cc_adgrampos_dureza }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adgrampos_comprimento }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adgrampos_diametro }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adgrampos_comprimento_rosca }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adgrampos_diametro_interno }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Arruelas -->
          {% set comp = dados.ad_arruelas %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Arruelas</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Altura</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro Interno</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro Externo</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adarruelas_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adarruelas_altura }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adarruelas_diametro_interno }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adarruelas_diametro_externo }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Anel -->
          {% set comp = dados.ad_anel %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Anel</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Altura</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro Interno</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro Externo</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adanel_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adanel_altura }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adanel_diametro_interno }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adanel_diametro_externo }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Prisioneiro Estojo -->
          {% set comp = dados.ad_prisioneiro_estojo %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Prisioneiro / Estojo</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento Rosca</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adprisioneiroestojo_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adprisioneiroestojo_comprimento }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adprisioneiroestojo_diametro }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adprisioneiroestojo_comprimento_rosca }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Contrapino -->
          {% set comp = dados.ad_contrapino %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Contrapino</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro</strong></div>
                  <div class="col-md-3 text-center"><strong>Norma</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adcontrapino_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adcontrapino_comprimento }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adcontrapino_diametro }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adcontrapino_norma }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Chaveta -->
          {% set comp = dados.ad_chaveta %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Chaveta</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-2 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-2 text-center"><strong>Diâmetro</strong></div>
                  <div class="col-md-2 text-center"><strong>Altura</strong></div>
                  <div class="col-md-2 text-center"><strong>Norma</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"> {{ item.cc_adchaveta_dureza }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adchaveta_comprimento }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adchaveta_diametro }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adchaveta_altura }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adchaveta_norma }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Rebite -->
          {% set comp = dados.ad_rebite %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Rebite</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-2 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-2 text-center"><strong>Bitola</strong></div>
                  <div class="col-md-2 text-center"><strong>Diâmetro Cabeça</strong></div>
                  <div class="col-md-2 text-center"><strong>Norma</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"> {{ item.cc_adrebite_dureza }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adrebite_comprimento }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adrebite_bitola }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adrebite_diametro_cabeca }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adrebite_norma }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Chumbador -->
          {% set comp = dados.ad_chumbador %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Chumbador</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-3 text-center"><strong>Bitola</strong></div>
                  <div class="col-md-3 text-center"><strong>Norma</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adchumbador_dureza }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adchumbador_comprimento }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adchumbador_bitola }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adchumbador_norma }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        <!-- Exibir resultados de Análise Dimensional Especial -->
          {% set comp = dados.ad_especial %}
          {% if comp %}
            <h3 class="text-center">Análise Dimensional Especial</h3>
            <div class="resultados">
              {% for item in comp %}
              <!-- Primeira Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"><strong>Dureza</strong></div>
                  <div class="col-md-2 text-center"><strong>Altura</strong></div>
                  <div class="col-md-2 text-center"><strong>Chave</strong></div>
                  <div class="col-md-2 text-center"><strong>Comprimento</strong></div>
                  <div class="col-md-2 text-center"><strong>Diâmetro</strong></div>
                </div>
              <!-- Segunda Linha -->
                <div class="row">
                  <div class="col-md-2 text-center"> {{ item.cc_adespecial_dureza }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adespecial_altura }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adespecial_chave }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adespecial_comprimento }} </div>
                  <div class="col-md-2 text-center"> {{ item.cc_adespecial_diametro }} </div>
                </div>
              <!-- Terceira Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"><strong>Diâmetro Cabeça</strong></div>
                  <div class="col-md-3 text-center"><strong>Comprimento Rosca</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro Interno</strong></div>
                  <div class="col-md-3 text-center"><strong>Diâmetro Externo</strong></div>
                </div>
              <!-- Quarta Linha -->
                <div class="row">
                  <div class="col-md-3 text-center"> {{ item.cc_adespecial_diametro_cabeca }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adespecial_comprimento_rosca }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adespecial_diametro_interno }} </div>
                  <div class="col-md-3 text-center"> {{ item.cc_adespecial_diametro_externo }} </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </div><!--Fecha card Body-->
      </div><!--Fecha card Inteiro-->
    {% endfor %}
  {% else %}
    <p>Nenhum resultado encontrado.</p>
  {% endif %}
</div>

{% endblock %}