{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% elif session['privilegio'] == 13 %}
    {% extends "base_faturamento_pesquisar_xml.html" %}
{% elif session['privilegio'] == 21 %}
    {% extends "base_compras.html" %}
{% elif session['privilegio'] == 31 %}
    {% extends "base_vendas2.html" %}
{% elif session['privilegio'] == 41 %}
    {% extends "base_loja.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <form method="POST" action="{{ url_for('plano_controle_inspecao') }}" enctype="multipart/form-data">
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Plano de Controle de Inspeção</h1>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Número do Plano</label>
                            <input type="text" class="form-control" id="cad_numero_plano" name="cad_numero_plano">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Imagem do Plano: Somente arquivos .jpg .jpeg .png</label>
                            <input type="file" class="form-control" id="imagem_plano" name="imagem_plano">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary w-100 mb-3">Cadastrar Plano</button>
            </div>
        </div>
-->
        <!-- Seletor de Categoria -->
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <select class="form-control" id="categoriaSelector" onchange="buscarImagensPorCategoria()">
                        <option value="parafusos">Parafusos (01-50)</option>
                        <option value="porcas">Porcas (51-76)</option>
                        <option value="arruelas">Arruelas (77-96)</option>
                        <option value="anel">Anel (97-107)</option>
                        <option value="chavetas">Chavetas (108-120)</option>
                        <option value="grampos">Grampos (121-128)</option>
                        <option value="bujao">Bujão (129-136)</option>
                        <option value="pinos">Pinos (137-150)</option>
                        <option value="prisioneiro">Prisioneiro (151-158)</option>
                        <option value="contrapino">Contrapino (159-166)</option>
                        <option value="rebite">Rebite (167-176)</option>
                        <option value="chumbador">Chumbador (177-192)</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Container para as Imagens -->
        <div class="container mt-4">
            <div class="row" id="imagensContainer">
                <!-- As imagens são inseridas aqui pelo Flask -->
                {% for imagem in imagens %}
                    <div class="col-md-4 mb-4 imagemItem" data-categoria="{{ imagem.categoria }}">
                        <img src="data:image/png;base64,{{ imagem.imagem }}" alt="Plano {{ imagem.numero }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Modal para exibir a imagem -->
        <div class="modal fade" id="imagemModal" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imagemModalLabel">Visualização da Imagem</h5>
                    </div>
                    <div class="modal-body">
                        <img id="imagemGrande" src="" class="img-fluid" alt="Visualização ampliada">
                    </div>
                </div>
            </div>
        </div>

    </form>

<script>
function buscarImagensPorCategoria() {
    var categoriaSelecionada = document.getElementById("categoriaSelector").value;
    var imagens = document.querySelectorAll('.imagemItem');

    imagens.forEach(function(imagem) {
        var numero = parseInt(imagem.querySelector('img').alt.replace('Plano ', ''));
        var categoriaImagem;

        if (numero >= 1 && numero <= 50) {
            categoriaImagem = 'parafusos';
        } else if (numero >= 51 && numero <= 76) {
            categoriaImagem = 'porcas';
        } else if (numero >= 77 && numero <= 96) {
            categoriaImagem = 'arruelas';
        } else if (numero >= 97 && numero <= 107) {
            categoriaImagem = 'anel';
        } else if (numero >= 108 && numero <= 120) {
            categoriaImagem = 'chavetas';
        } else if (numero >= 121 && numero <= 128) {
            categoriaImagem = 'grampos';
        } else if (numero >= 129 && numero <= 136) {
            categoriaImagem = 'bujao';
        } else if (numero >= 137 && numero <= 150) {
            categoriaImagem = 'pinos';
        } else if (numero >= 151 && numero <= 158) {
            categoriaImagem = 'prisioneiro';
        } else if (numero >= 159 && numero <= 166) {
            categoriaImagem = 'contrapino';
        } else if (numero >= 167 && numero <= 176) {
            categoriaImagem = 'rebite';
        } else if (numero >= 177 && numero <= 192) {
            categoriaImagem = 'chumbador';
        } else {
            // Para números fora das faixas especificadas, você pode definir um comportamento padrão
            categoriaImagem = 'outraCategoria';
        }

        // Comparar a categoria da imagem com a selecionada e ajustar a visibilidade
        if (categoriaImagem === categoriaSelecionada) {
            imagem.style.display = '';
        } else {
            imagem.style.display = 'none';
        }
    });
}
document.getElementById("categoriaSelector").addEventListener('change', buscarImagensPorCategoria);
buscarImagensPorCategoria(); // Chame a função ao carregar para aplicar o filtro inicial

document.querySelectorAll('.imagemItem img').forEach(item => {
    item.addEventListener('click', event => {
        const src = event.target.src;
        const modalImage = document.getElementById('imagemGrande');
        modalImage.src = src;
        $('#imagemModal').modal('show');
    });
});


</script>

{% endblock %}
