{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<!-- Inclua seu arquivo de estilos personalizados após o Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- Inclua Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Relatório de Reprovados</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="graficoTipo">Tipo de Gráfico:</label>
                <select id="graficoTipo" class="form-select" onchange="atualizarGrafico()">
                    <option value="ano">Quantidade de Reprovas por Ano</option>
                    <option value="picker">Quantidade de Reprovas por Picker</option>
                    <option value="separador">Quantidade de Reprovas por Separador</option>
                    <option value="ranking">Ranking de Motivos de Reprova</option>
                </select>
            </div>
            <div class="col-md-12">
                <canvas id="graficoCanvas"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
let grafico;

const ctx = document.getElementById('graficoCanvas').getContext('2d');

function atualizarGrafico() {
    const tipo = document.getElementById('graficoTipo').value;
    fetch(`/dados_grafico?tipo=${tipo}`)
        .then(response => response.json())
        .then(data => {
            if (grafico) {
                grafico.destroy();
            }

            grafico = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: data.label,
                        data: data.values,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
}

document.addEventListener('DOMContentLoaded', function() {
    atualizarGrafico();
});
</script>

{% endblock %}
