{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 2 %}
    {% extends "base_recebimento_concluido.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% elif session['privilegio'] == 4 %}
    {% extends "base_inspecao_final.html" %}
{% elif session['privilegio'] == 11 %}
    {% extends "base_faturamento.html" %}
{% elif session['privilegio'] == 12 %}
    {% extends "base_faturamento_lancamento.html" %}
{% elif session['privilegio'] == 99 %}
    {% extends "base_pesquisar.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<!-- Inclua seu arquivo de estilos personalizados após o Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- Inclua Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2/dist/chartjs-plugin-annotation.min.js"></script>


<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Relatório de Reprovados</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="filtroAno">Ano:</label>
                <select id="filtroAno" class="form-select" onchange="atualizarGrafico()">
                    <option value="">Todos</option>
                    {% for ano in anos %}
                        <option value="{{ ano }}">{{ ano }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="filtroMes">Mês:</label>
                <select id="filtroMes" class="form-select" onchange="atualizarGrafico()">
                    <option value="">Todos</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="graficoTipo">Tipo de Gráfico:</label>
                <select id="graficoTipo" class="form-select" onchange="atualizarGrafico()">
                    <option value="ano">Quantidade de Reprovas por Ano</option>
                    <option value="picker">Quantidade de Reprovas por Picker</option>
                    <option value="separador">Quantidade de Reprovas por Separador</option>
                    <option value="ranking">Ranking de Motivos de Reprova</option>
                </select>
            </div>
            <div class="col-md-12 mt-3">
                <canvas id="graficoCanvas"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
let grafico;

const ctx = document.getElementById('graficoCanvas').getContext('2d');

function atualizarGrafico() {
    // Salva a posição de rolagem atual
    const scrollPos = window.pageYOffset || document.documentElement.scrollTop;

    const tipo = document.getElementById('graficoTipo').value;
    const ano = document.getElementById('filtroAno').value;
    const mes = document.getElementById('filtroMes').value;

    const url = new URL(`/dados_grafico?tipo=${tipo}`, window.location.origin);
    if (ano) url.searchParams.append('ano', ano);
    if (mes) url.searchParams.append('mes', mes);

    fetch(url)
        .then(response => response.json())
        .then(data => {
            if (grafico) {
                grafico.destroy();
            }

            // Calcular a média dos valores
            const mediaGeral = data.values.reduce((a, b) => a + b, 0) / data.values.length;

            grafico = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: data.label,
                        data: data.values,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        annotation: {
                            annotations: {
                                line1: {
                                    type: 'line',
                                    yMin: mediaGeral,
                                    yMax: mediaGeral,
                                    borderColor: 'red',
                                    borderWidth: 2,
                                    label: {
                                        content: `Média: ${mediaGeral.toFixed(2)}`,
                                        enabled: true,
                                        position: 'center',
                                        backgroundColor: 'rgba(255, 99, 132, 0.8)',
                                    }
                                }
                            }
                        }
                    }
                }
            });

            // Restaura a posição de rolagem após atualizar o gráfico
            window.scrollTo(0, scrollPos);

        });
}


document.addEventListener('DOMContentLoaded', function() {
    atualizarGrafico();

    setInterval(atualizarGrafico, 30000);
});
</script>

{% endblock %}
