{% if session['privilegio'] == 1 or session['privilegio'] == 8 %}
    {% extends "base_recebimento.html" %}
{% elif session['privilegio'] == 3 %}
    {% extends "base_zincagem.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}
<div class="container mt-4">

    <!-- Formulário de Seleção de Ano -->
    <form method="POST" action="{{ url_for('resumo_trimestral') }}" enctype="multipart/form-data">
        <div class="py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h1 class="text-center mb-4">Resumo Trimestral de Fornecedores</h1>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="ano">Ano</label>
                                <select class="form-control" id="ano" name="ano">
                                    {% for ano in anos_disponiveis %}
                                        <option value="{{ ano }}" {% if ano == ano_selecionado %}selected{% endif %}>{{ ano }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-secondary w-100">Pesquisar</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="flash-messages">
                                            {% for message in messages %}
                                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Campo 1</th>
                <th>Campo 2</th>
                <th>1º Trimestre</th>
                <th>2º Trimestre</th>
                <th>3º Trimestre</th>
                <th>4º Trimestre</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor['nome_fornecedor'] }}</td>
                <td><!-- Campo 1 --></td>
                <td><!-- Campo 2 --></td>
                {% for trimestre in range(1, 5) %}
                <td>{{ '{:.2f}'.format(notas_finais_trimestres[fornecedor[0]][trimestre]) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
